@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primaryColor: #e52b50;
    /* --secondaryColor: #e52b50; */

    --largeFontSize: 2rem;
    --mediumFontSize: 1.3rem;
    --smallFontSize: .7rem;
}

*,
*::before,
*::after {
    border: 1px solid red !important;
}


html {
    color: #000;
}

input,
textarea {
    padding: 1rem;
    background-color: #fff;
    border-radius: .2rem;
    border: 1px solid #ddd;
}

input:focus,
textarea:focus {
    outline: none;
}


section {
    padding: 2rem 1rem;
}


svg {
    width: 1rem;
    aspect-ratio: 1/1;
    fill: #fff;
}


.mainButton {
    background-color: var(--primaryColor);
    border-radius: .5rem;
    text-transform: capitalize;
    color: #fff;
    padding: 1rem 2rem;
    transition: filter 400ms;
}